<div class="row" style="margin: 10px">
  <div class="col-md-2 label" style="max-width: 125px;">
    Task
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control inputbox" placeholder="Task" [(ngModel)]="filtertask">
  </div>
  <div class="col-md-1 label" style="max-width: 100px; padding: 0px">
    Parent Task
  </div>
  <div class="col-md-5">
    <input type="text" class="form-control inputbox" placeholder="Parent Task" [(ngModel)]="filterparentTask">
  </div>
</div>
<br>

<div class="row" style="margin: 10px">
  <div class="col-md-2 label" style="max-width: 125px;">
    Priority From
  </div>
  <div class="col-md-1">
    <input type="text" class="form-control inputbox" placeholder="0" [(ngModel)]="filterfromPriority">
  </div>
  <div class="col-md-2 label">
    Priority To
  </div>
  <div class="col-md-1">
    <input type="text" class="form-control inputbox" placeholder="30" [(ngModel)]="filtertoPriority">
  </div>
  <div class="col-md-1 label" style="max-width: 100px; padding: 0px">
    Start Date
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control inputbox" placeholder="Start Date" [(ngModel)]="filterstartDate">
  </div>
  <div class="col-md-1 label" style="max-width: 100px; padding: 0px">
    End Date
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control inputbox" placeholder="End Date" [(ngModel)]="filterendDate">
  </div>
</div>

<div class="divider"></div>

<div *ngIf="emptyMessage" class="emptyMessage">
  No task created yet
</div>

<div *ngFor="let task of tasks | filter : filtertask : 'task' | filter:filterparentTask:'parentTask' |
filter:filterstartDate:'startDate' | filter:filterendDate:'endDate' |
filter:filterfromPriority:'frompriority' | filter:filtertoPriority:'topriority'; let i = index;">
  <div class="row" style="margin: 10px">
    <div class="col-md-3">
      <strong>Task</strong>
    </div>
    <div class="col-md-3">
      <strong>Parent Task</strong>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-2">
          <strong>Priority</strong>
        </div>
        <div class="col-md-3 nopadding">
          <strong>Start</strong>
        </div>
        <div class="col-md-3 nopadding">
          <strong>End</strong>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin: 10px">
    <div class="col-md-3">
      <div class="card fontcolor noborder bglight">
        <div class="card-body">
          {{task.task}}
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card fontcolor noborder bglight">
        <div class="card-body">
          {{task.parentTask}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-2">
          {{task.priority}}
        </div>
        <div class="col-md-3 nopadding">
          {{task.startDate}}
        </div>
        <div class="col-md-2 nopadding">
          {{task.endDate}}
        </div>
        <div *ngIf="task.status == 'notended'" class="col-md-5">
          <div class="row">
            <div class="col-md-5" style="padding-left: 7px">
              <button class="buttonstyle fontcolor" (click)="editTask(task)">Edit</button>
            </div>
            <div class="col-md-7">
              <button class="buttonstyle fontcolor" (click)="endTask(i)">End Task</button>
            </div>
          </div>
        </div>
        <div *ngIf="task.status == 'endinginprogress'" class="col-md-5">
          <div class="row">
            <div class="col-md-5" style="padding-left: 7px">
              <button class="buttonstyle fontcolor" (click)="cancel(i)">Cancel</button>
            </div>
            <div class="col-md-7">
              <button class="buttonstyle fontcolor" (click)="confirmed(task, i)">Confirm</button>
            </div>
          </div>
        </div>
        <div *ngIf="task.status == 'endednow'" class="col-md-5">
          <div class="alert alert-success alert-dismissible fade show successMessage" role="alert">
            Task Ended
            <button type="button" class="close closeicon" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>